body {
  padding: 30px;
}

.candidate:hover {
  color: darkslategray;
  cursor: default;
}

@-ms-viewport {
  width: device-width;
}

.card-header {
  display: flex;
}

.statBox {
  display: inline-block;
  margin-left: 20px;
}

@media screen and (min-width: 1000px) {
  body {
    padding-left: 300px;
    padding-right: 300px;
  }
}
